# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env
env
DOCUMENTATION_INDEX.md
FILE_STRUCTURE.md
FINAL_DELIVERY.md
PROJECT_COMPLETE.md
PROJECT_README.md
QUICK_START.md
DOCUMENTATION_INDEX.md

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
